<blockquote id="modalCaption">Click To Discover More</blockquote>
<div class="blocks">
    <div class="block-row">
        {{#if en}}
            <div class="block-column animatedx bounceInUp block-column-child-1">
                <a href="/en/sustainability-goals/sdg-1-no-poverty">
                    <img src={{asset "images/en/sm-sdg-1.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-2">
                <a href="/en/sustainability-goals/sdg-2-zero-hunger">
                    <img src={{asset "images/en/sm-sdg-2.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-3">
                <a href="/en/sustainability-goals/sdg-3-good-health-and-well-being">
                    <img src={{asset "images/en/sm-sdg-3.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-4">
                <a href="/en/sustainability-goals/sdg-4-quality-education">
                    <img src={{asset "images/en/sm-sdg-4.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-5">
                <a href="/en/sustainability-goals/sdg-5-gender-equality">
                    <img src={{asset "images/en/sm-sdg-5.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-6">
                <a href="/en/sustainability-goals/sdg-6-claen-water-and-sanitation">
                    <img src={{asset "images/en/sm-sdg-6.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-7">
                <a href="/en/sustainability-goals/sdg-7-affordable-and-clean-energy">
                    <img src={{asset "images/en/sm-sdg-7.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-8">
                <a href="/en/sustainability-goals/sdg-8-decent-work-and-economic-growth">
                    <img src={{asset "images/en/sm-sdg-8.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-9">
                <a href="/en/sustainability-goals/sdg-9-industry-innovation-and-infrastructure">
                    <img src={{asset "images/en/sm-sdg-9.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-10">
                <a href="/en/sustainability-goals/sdg-10-reduced-inequalities">
                    <img src={{asset "images/en/sm-sdg-10.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-11">
                <a href="/en/sustainability-goals/sdg-11-sustainable-cities-and-communities">
                    <img src={{asset "images/en/sm-sdg-11.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-12">
                <a href="/en/sustainability-goals/sdg-12-responsible-consumption-and-production">
                    <img src={{asset "images/en/sm-sdg-12.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-13">
                <a href="/en/sustainability-goals/sdg-13-climate-action">
                    <img src={{asset "images/en/sm-sdg-13.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-14">
                <a href="/en/sustainability-goals/sdg-14-life-below-water">
                    <img src={{asset "images/en/sm-sdg-14.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-15">
                <a href="/en/sustainability-goals/sdg-15-life-on-land">
                    <img src={{asset "images/en/sm-sdg-15.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-16">
                <a href="/en/sustainability-goals/sdg-16-peace-justice-and-strong-institutions">
                    <img src={{asset "images/en/sm-sdg-16.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-17">
                <a href="/en/sustainability-goals/sdg-17-partnerships-for-the-goals">
                    <img src={{asset "images/en/sm-sdg-17.png"}}/>
                </a>
            </div>
            <div class="block-column block-column-child-18">
                <div class="wheel-container item">
                    <div class="wheel">
                        <img class="image-responsive" src="{{asset "images/sdg_wheel.png"}}">
                    </div>
                </div>
                <center class="wheel-title">
                    <span>17 goals magazin!</span>
                </center>
            </div>
        {{else}}
            <div class="block-column animatedx bounceInUp block-column-child-1">
                <a href="/nachhaltigkeitsziele/ziel-1-keine-armut">
                            <img src={{asset "images/de/sdg-1.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-2">
                <a href="/nachhaltigkeitsziele/ziel-2-kein-hunger">
                    <img src={{asset "images/de/sdg-2.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-3">
                <a href="/nachhaltigkeitsziele/ziel-3-gesundheit-und-wohlergehen">
                    <img src={{asset "images/de/sdg-3.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-4">
                <a href="/nachhaltigkeitsziele/ziel-4-hochwertige-bildung">
                    <img src={{asset "images/de/sdg-4.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-5">
                <a href="/nachhaltigkeitsziele/ziel-5-geschlechtergleicheit">
                    <img src={{asset "images/de/sdg-5.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-6">
                <a href="/nachhaltigkeitsziele/ziel-6-sauberes-wasser-u-sanitaeranlagen">
                    <img src={{asset "images/de/sdg-6.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-7">
                <a href="/nachhaltigkeitsziele/ziel-7-bezahlbare-u-saubere-energie">
                    <img src={{asset "images/de/sdg-7.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-8">
                <a href="/nachhaltigkeitsziele/ziel-8-menschenwuerdige-arbeit-u-wirtschaftswachstum">
                    <img src={{asset "images/de/sdg-8.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-9">
                <a href="/nachhaltigkeitsziele/ziel-9-industrie-innovation-infrastruktur">
                    <img src={{asset "images/de/sdg-9.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-10">
                <a href="/nachhaltigkeitsziele/ziel-10-weniger-ungleichheiten">
                    <img src={{asset "images/de/sdg-10.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-11">
                <a href="/nachhaltigkeitsziele/ziel-11-nachhaltige-staedte-u-gemeinden">
                    <img src={{asset "images/de/sdg-11.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-12">
                <a href="/nachhaltigkeitsziele/ziel-12-nachhaltiger-konsum-u-produktion">
                    <img src={{asset "images/de/sdg-12.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-13">
                <a href="/nachhaltigkeitsziele/ziel-13-massnahmen-zum-klimaschutz">
                    <img src={{asset "images/de/sdg-13.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-14">
                <a href="/nachhaltigkeitsziele/ziel-14-leben-unter-wasser">
                    <img src={{asset "images/de/sdg-14.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-15">
                <a href="/nachhaltigkeitsziele/ziel-15-leben-an-land">
                    <img src={{asset "images/de/sdg-15.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-16">
                <a href="/nachhaltigkeitsziele/ziel-16-fireden-gerechtigekeit-starke-institutionen">
                    <img src={{asset "images/de/sdg-16.png"}}/>
                </a>
            </div>
            <div class="block-column animatedx bounceInUp block-column-child-17">
                <a href="/nachhaltigkeitsziele/ziel-17-partnerschaften-zur-erreichung-der-ziele">
                    <img src={{asset "images/de/sdg-17.png"}}/>
                </a>
            </div>
            <div class="block-column block-column-child-18">
                <div class="wheel-container item">
                    <div class="wheel">
                        <img class="image-responsive" src="{{asset "images/sdg_wheel.png"}}">
                    </div>
                </div>
                <center class="wheel-title">
                    <span>17 goals magazin!</span>
                </center>
            </div>
        {{/if}}
    </div>
</div>
<script type="text/javascript" src="{{asset "texts/captions.js"}}"></script>