{{> "icons/spriteicons"}}
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>seventeen goals<span> magazin</span></h3>
        <div class="map">
            <div id="mapdiv"></div>
            <center>
                <a href="geo:52.49470,13.33907?q=52.49470,13.33907&z=17" class="navigate" rel="noopener">Navigate</a>
            </center>
        </div>

        <div class="footer-company-about">
            <p>
                Motzstr. 63, 10777 Berlin, Germany
                <br/>
                <svg width="16" height="16" role="img" aria-label="phone-icon">
                    <use xlink:href="#phone"></use>
                </svg>
                <a href="tel:+49 30 67920272 "> +49 30 67920272</a>
                <br/>
                <svg width="16" height="16" role="img" aria-label="phone-icon">
                    <use xlink:href="#email"></use>
                </svg>
                <a href="mailto:redaktion@projekt17.net">redaktion@projekt17.net</a>
            </p>
            <p>
                Luruper Chaussee 125, Haus 8 Süd, 22761 Hamburg, Germany
                <br/>


                <svg width="16" height="16" role="img" aria-label="phone-icon">
                    <use xlink:href="#phone"></use>
                </svg>
                <a href="tel:+49 40 55422617"> +49 40 55422617</a>
                <br/>

                <svg width="16" height="16" role="img" aria-label="phone-icon">
                    <use xlink:href="#email"></use>
                </svg>
                <a href="mailto:team@projekt17.net">team@projekt17.net</a>
            </p>

        </div>
    </div>

    <div class="footer-center">
        <h3>Cooperation Partners:</h3>
        <center>
            <div class="partners">

                <a href="https://sdgactioncampaign.org/" class="social-link" title="sdgactioncampaign" target="_blank" rel="noopener">
                    <img src="{{asset "images/partners/action-logo-colour.svg"}}">
                </a>
                <a href="https://www.zeit-verlagsgruppe.de/" class="social-link die-zeit" title="DIE ZEIT Verlagsgruppe" target="_blank" rel="noopener">
                    <img src="{{asset "images/partners/die-zeit.png"}}">
                </a>
                <a href="https://www.tagesspiegel.de/" class="social-link" title="Der Tagesspiegel" target="_blank" rel="noopener">
                    <img class="tagsp" src="{{asset "images/partners/tagesspiegel.svg"}}">
                </a>
            </div>
        </center>
    </div>

    <div class="footer-right">
        <center>
            <div class="footer-icons">

                <a href="{{facebook_url @site.facebook}}" class="social-link facebook" title="Facebook" target="_blank" rel="noopener">
                    <svg width="32" height="32" role="img" aria-label="facebook-icon">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a href="{{twitter_url @site.twitter}}" class="social-link twitter" title="Twitter" target="_blank" rel="noopener">
                    <svg width="32" height="32" role="img" aria-label="twitter-icon">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
                <a href="https://www.instagram.com/17goalsmagazin/" class="social-link instagram" title="Instagram" target="_blank" rel="noopener">
                    <svg width="32" height="32" role="img" aria-label="instagram-icon">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/company/17goalsmagazin/" class="social-link linkedin" title="LinkedIn" target="_blank" rel="noopener">
                    <svg width="32" height="32" role="img" aria-label="linkedin-icon">
                        <use xlink:href="#linkedin"></use>
                    </svg>
                </a>
            </div>

            <!-- Begin Mailchimp Signup Form -->

            <div id="mc_embed_signup">
                <form action="https://17goalsmagazin.us18.list-manage.com/subscribe/post?u=a967b0fd82e5f4dacb7365b92&amp;id=13e86d77f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">

                        <input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="required"/>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_a967b0fd82e5f4dacb7365b92_13e86d77f6" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->


            <nav class="footer-links">
                <a href="/imprint/">Imprint</a>
                ·
                <a href="/privacy-policy/">Privacy Policy</a>
                ·
                <a href="javascript:void(0)" id="changeCookiePref">Cookie Preferences</a>
            </nav>
        </center>
    </div>
</footer>
<footer class="footer-distributed lower-footer">
    <div class="inner">
        <section>
            <center>
                <p class="footer-copyright"><a href="{{@site.url}}/en">{{@site.title}}</a> &copy; {{date format="YYYY"}} </p>
            </center>
        </section>
    </div>
</footer>
