{{> "icons/spriteicons"}}
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>17goals<span>magazin</span></h3>


        <div class="footer-company-about">
            <p>
                Motzstr. 63, 10777 Berlin, Germany
                <br/>
                <svg width="16" height="16" role="img" aria-label="phone-icon">
                    <use xlink:href="#phone"></use>
                </svg>
                <a href="tel:+49 30 67920272 "> +49 30 67920272</a>
                <br/>
                <svg width="16" height="16" role="img" aria-label="phone-icon">
                    <use xlink:href="#email"></use>
                </svg>
                <a href="mailto:redaktion@projekt17.net">redaktion@projekt17.net</a>
            </p>
            <p>
                Luruper Chaussee 125, Haus 8 Süd, 22761 Hamburg, Germany
                <br/>


                <svg width="16" height="16" role="img" aria-label="phone-icon">
                    <use xlink:href="#phone"></use>
                </svg>
                <a href="tel:+49 40 55422617"> +49 40 55422617</a>
                <br/>

                <svg width="16" height="16" role="img" aria-label="phone-icon">
                    <use xlink:href="#email"></use>
                </svg>
                <a href="mailto:team@projekt17.net">team@projekt17.net</a>
            </p>

        </div>
    </div>

    <div class="footer-center">





    </div>

    <div class="footer-right">

        <nav class="footer-links">
            <a href="/imprint/">Imprint</a>
            ·
            <a href="/privacy-policy/">Privacy Policy</a>
            ·
            <a href="javascript:void(0)" id="changeCookiePref">Cookie Preferences</a>
        </nav>

    </div>

</footer>
<footer class="footer-distributed lower-footer">
    <div class="inner">
        <section>
            <center>
                <div class="footer-icons">

                    <a href="{{facebook_url @site.facebook}}" class="social-link facebook" title="Facebook" target="_blank" rel="noopener">
                        <svg width="32" height="32" role="img"  aria-label="facebook-icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="{{twitter_url @site.twitter}}" class="social-link twitter" title="Twitter" target="_blank" rel="noopener">
                        <svg width="32" height="32" role="img" aria-label="twitter-icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/17goalsmagazin/" class="social-link instagram" title="Instagram" target="_blank" rel="noopener">
                        <svg width="32" height="32" role="img" aria-label="instagram-icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/company/17goalsmagazin/" class="social-link linkedin" title="LinkedIn" target="_blank" rel="noopener">
                        <svg width="32" height="32" role="img" aria-label="linkedin-icon">
                            <use xlink:href="#linkedin"></use>
                        </svg>
                    </a>
                </div>
                <p class="footer-copyright"><a href="{{@site.url}}/en">{{@site.title}}</a> &copy; {{date format="YYYY"}}</p>
            </center>
        </section>
    </div>
</footer>