{{#if isSecondary}}
{{> "icons/spriteicons"}}
<!-- secondary navigation -->
<ul role="menu">
    {{#foreach navigation}}
    <li class="nav-{{slug}}" role="menuitem">
        <a target="_blank" href="{{url}}" class="social-link">
            <svg width="16" height="16" role="img" aria-label="{{slug}}icon">
                        <use xlink:href="#{{slug}}"></use>
                    </svg>
 </a>
    </li>
    {{/foreach}}
</ul>
{{else}}
<!-- primary navigation -->

<ul role="menu">
    <ul role="menu">
        <li class="nav-17-goals" role="menuitem"><a target="_self" href="/17ziele_17sdg/">17 Ziele</a></li>
        <li class="nav-stories" role="menuitem">
            <div class="dropdown">
                <a class="dropbtn">Lösungen und Stories <svg style="fill: #fff;height: 8px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.996 491.996" ><path d="M484.132 124.986l-16.116-16.228a26.72 26.72 0 0 0-19.032-7.86c-7.208 0-13.964 2.792-19.036 7.86l-183.84 183.848L62.056 108.554c-5.064-5.068-11.82-7.856-19.028-7.856s-13.968 2.788-19.036 7.856l-16.12 16.128c-10.496 10.488-10.496 27.572 0 38.06l219.136 219.924c5.064 5.064 11.812 8.632 19.084 8.632h.084c7.212 0 13.96-3.572 19.024-8.632l218.932-219.328c5.072-5.064 7.856-12.016 7.864-19.224 0-7.212-2.792-14.068-7.864-19.128z"/></svg></a>
                    <div class="drpdown-content">
                        <ul>
                            <li><a target="_self" href="/wirtschaft/">Wirtschaft</a></li>
                            <li><a target="_self" href="/gesellschaft/">Gesellschaft</a></li>
                            <li><a target="_self" href="/okologie">Ökologie</a></li>
                            <li><a target="_self" href="/soziales">Soziales</a></li>
                            <li><a target="_self" href="/digitale-transformation/">digitale Transformation</a></li>
                        </ul>
                    </div>
            </div>
        </li>
        <li class="nav-newsletter-abo" role="menuitem"><a target="_self" href="/uber-uns/">Über Uns</a></li>
        <!--<li class="nav-search" role="menuitem">
            <div class="search-container">
                <form action="/">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><img src="{{asset "images/search-min.svg"}}"/></button>
                </form>
            </div>
        </li>-->
    </ul>
</ul>
{{/if}}