{{#if isSecondary}}
{{> "icons/spriteicons"}}
<!-- secondary navigation -->
<ul role="menu">
    {{#foreach navigation}}
    <li class="nav-{{slug}}" role="menuitem">
        <a target="_blank" href="{{url}}" class="social-link">
            <svg width="16" height="16" role="img" aria-label="{{slug}}icon">
                        <use xlink:href="#{{slug}}"></use>
                    </svg>
 </a>
    </li>
    {{/foreach}}
</ul>
{{else}}
<!-- primary navigation -->

<ul role="menu">
    {{#foreach navigation}}
        <li><a target="_self" href="{{url absolute="true"}}">{{label}}</a></li>
   {{!-- <!--<li class="{{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem"><a
            >{{label}}</a></li>--> --}}
    {{/foreach}}
</ul>
{{/if}}