{{#if isSecondary}}
    {{> "icons/spriteicons"}}
    <!-- secondary navigation -->
    <ul  role="menu">
        {{#foreach navigation}}
            <li class="nav-{{slug}}" role="menuitem">
                <a href="{{url}}" class="social-link">
                    <svg width="16" height="16" role="img" aria-label="{{slug}}icon">
                        <use xlink:href="#{{slug}}"></use>
                    </svg>

                </a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <!-- primary navigation -->
    <ul role="menu">
        <li class="nav-good-news" role="menuitem"><a href="/17goals/">17 Goals</a></li>
        <li class="nav-17-goals" role="menuitem"><a href="/en/all-stories/">Stories</a></li>
        <li class="nav-editorial" role="menuitem"><a href="/topic/news-and-events-en/">News & Events</a></li>
        <li class="nav-newsletter-abo" role="menuitem"><a href="/about-us/">About Us</a></li>
    </ul>
{{/if}}