<article class="post-card">

    <a class="post-card-image-link" href="/news-and-events{{#if en}}-en{{/if}}">
        <img src="{{@site.cover_image}}" alt="{{title}}"/>
    </a>

    <div class="post-card-content">
        <a class="post-card-content-link" href="/news-and-events{{#if en}}-en{{/if}}">

            <header class="post-card-header">
                {{#if primary_tag}}
                    {{#primary_tag}}
                        <div class="post-card-primary-tag">{{name}}</div>
                    {{/primary_tag}}
                {{/if}}
                <center><h2> News & Events </h2>
                    <div class="post-card-excerpt">
                        {{#if en}}
                            Latest News and Events
                        {{else}}
                            {{t "our news and events"}}
                        {{/if}}
                    </div>
                </center>
            </header>
        </a>
    </div>

</article>
