<article class="post-card {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

    <a class="post-card-image-link" target="_self" href="{{url}}">
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        {{#if feature_image}}
            <img class="post-card-image"
                 srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
                 sizes="(max-width: 1000px) 400px, 700px"
                 src="{{img_url feature_image size="m"}}"
                 alt="{{title}}"
            />
        {{else}}
            <img src="{{asset "images/bokeh.jpeg"}}" alt="{{title}}"/>
        {{/if}}
        {{#if feature}}
            <div class="featurer">
                <span>⭑ {{feature}}</span>
            </div>
        {{/if}}
        {{!--{{#foreach tags}}
                    {{#has slug="17-goals-blog-award"}}<div class="featurer-top">{{> "icons/award"}}</div>{{/has}}
                    {{#has slug="17-goals-blog-award-en"}}<div class="featurer-top">{{> "icons/award"}}</div>{{/has}}
        {{/foreach}} --}}
    </a>


    <div class="post-card-content">

        <a class="post-card-content-link" target="_self" href="{{url}}">

            <header class="post-card-header">
                 <div class="post-card-primary-tag">
                 {{#foreach tags}}
                    {{#has slug="wirtschaft"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                    {{#has slug="gesellschaft"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                    {{#has slug="okologie"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                    {{#has slug="soziales"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                    {{#has slug="digitale-transformation"}}
                    <a class="pill" target="_self" href="{{url}}">{{name}}</a>
                    {{/has}}
                    {{#has slug="economy"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                    {{#has slug="environment"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                    {{#has slug="social"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                    {{#has slug="society"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                    {{#has slug="digital-transformation"}}
                    <p class="pill">{{name}}</p>
                    {{/has}}
                 {{/foreach}}
                 </div>
                <h2 class="post-card-title">{{title}}</h2>
            </header>

            <section class="post-card-excerpt">
                {{#if feature_image}}
                    <p>{{excerpt words="30"}}</p>
                {{else}}
                    <p>{{excerpt words="44"}}</p>
                {{/if}}
            </section>

        </a>
        <aside>
            <ul class="tag-list">
                {{#foreach tags}}

                    {{#has slug="1"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg1.png"}}"/></li>
                    {{/has}}
                    {{#has slug="2"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg2.png"}}"/></li>
                    {{/has}}
                    {{#has slug="3"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg3.png"}}"/></li>
                    {{/has}}
                    {{#has slug="4"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg4.png"}}"/></li>
                    {{/has}}
                    {{#has slug="5"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg5.png"}}"/></li>
                    {{/has}}
                    {{#has slug="6"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg6.png"}}"/></li>
                    {{/has}}
                    {{#has slug="7"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg7.png"}}"/></li>
                    {{/has}}
                    {{#has slug="8"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg8.png"}}"/></li>
                    {{/has}}
                    {{#has slug="9"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg9.png"}}"/></li>
                    {{/has}}
                    {{#has slug="10"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg10.png"}}"/></li>
                    {{/has}}
                    {{#has slug="11"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg11.png"}}"/></li>
                    {{/has}}
                    {{#has slug="12"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg12.png"}}"/></li>
                    {{/has}}
                    {{#has slug="13"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg13.png"}}"/></li>
                    {{/has}}
                    {{#has slug="14"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg14.png"}}"/></li>
                    {{/has}}
                    {{#has slug="15"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg15.png"}}"/></li>
                    {{/has}}
                    {{#has slug="16"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg16.png"}}"/></li>
                    {{/has}}
                    {{#has slug="17"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg17.png"}}"/></li>
                    {{/has}}

                {{/foreach}}
                {{#foreach tags visibility="internal"}}

                    {{#has slug="hash-sdg1"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg1.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg2"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg2.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg3"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg3.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg4"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg4.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg5"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg5.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg6"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg6.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg7"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg7.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg8"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg8.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg9"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg9.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg10"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg10.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg11"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg11.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg12"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg12.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg13"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg13.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg14"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg14.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg15"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg15.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg16"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg16.png"}}"/></li>
                    {{/has}}
                    {{#has slug="hash-sdg17"}}
                        <li class="tag-list-item"><img src="{{asset "images/small-icons/sdg17.png"}}"/></li>
                    {{/has}}

                {{/foreach}}


            </ul>

        </aside>
        <footer class="post-card-meta">
            <ul class="author-list">
                {{#foreach authors}}
                    <li class="author-list-item">

                        <div class="author-name-tooltip">
                            {{name}}
                        </div>

                        {{#if profile_image}}
                            <a target="_self" href="{{url}}" class="static-avatar">
                                <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}"/>
                            </a>
                        {{else}}
                            <a target="_self" href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                        {{/if}}
                    </li>
                {{/foreach}}
            </ul>
            <div class="post-card-byline-content">
                {{#has tag="english"}}
                    <span>{{#has author="count:>2"}}Multiple authors{{else}}{{authors}}{{/has}}</span>
                    <span class="post-card-byline-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="L"}}</time> <span class="bull">&bull;</span> {{reading_time seconds="1 min read" minute="1 min read" minutes="% min read"}}</span>
                {{else}}
                    <span>{{#has author="count:>2"}}{{t "Multiple authors"}}{{else}}{{authors}}{{/has}}</span>
                    <span class="post-card-byline-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="L"}}</time> <span class="bull">&bull;</span> {{reading_time seconds=(t "1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>

                {{/has}}
            </div>
        </footer>


    </div>{{!--/.post-card-content--}}

</article>