<div class="ribbon">
    <div class="ribbon-row">
        {{#if en}}
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-1-no-poverty"> <img src={{asset "images/en/sm-sdg-1.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-2-zero-hunger"> <img src={{asset "images/en/sm-sdg-2.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-3-good-health-and-well-being"> <img src={{asset "images/en/sm-sdg-3.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-4-quality-education"> <img src={{asset "images/en/sm-sdg-4.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-5-gender-equality"> <img src={{asset "images/en/sm-sdg-5.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-6-clean-water-and-sanitation"> <img src={{asset "images/en/sm-sdg-6.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-7-affordable-and-clean-energy"> <img src={{asset "images/en/sm-sdg-7.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-8-decent-work-and-economic-growth"> <img src={{asset "images/en/sm-sdg-8.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-9-industry-innovation-and-infrastructure"> <img src={{asset "images/en/sm-sdg-9.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-10-reduced-inequalities"> <img src={{asset "images/en/sm-sdg-10.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-11-sustainable-cities-and-communities"> <img src={{asset "images/en/sm-sdg-11.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-12-responsible-consumption-and-production"> <img src={{asset "images/en/sm-sdg-12.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-13-climate-action"> <img src={{asset "images/en/sm-sdg-13.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-14-life-below-water"> <img src={{asset "images/en/sm-sdg-14.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-15-life-on-land"> <img src={{asset "images/en/sm-sdg-15.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-16-peace-justice-and-strong-institutions"> <img src={{asset "images/en/sm-sdg-16.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
            <div class="ribbon-column"><a href="/en/sustainability-goals/sdg-17-partnerships-for-the-goals"> <img src={{asset "images/en/sm-sdg-17.png"}}/><div class="middle"><center>Read More →</center></div> </a></div>
        {{else}}
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-1-keine-armut"> <img src={{asset "images/de/sm-sdg-1.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-2-kein-hunger"> <img src={{asset "images/de/sm-sdg-2.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-3-gesundheit-und-wohlergehen"> <img src={{asset "images/de/sm-sdg-3.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-4-hochwertige-bildung"> <img src={{asset "images/de/sm-sdg-4.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-5-geschlechtergleicheit"> <img src={{asset "images/de/sm-sdg-5.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-6-sauberes-wasser-u-sanitaeranlagen"> <img src={{asset "images/de/sm-sdg-6.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-7-bezahlbare-u-saubere-energie"> <img src={{asset "images/de/sm-sdg-7.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-8-menschenwuerdige-arbeit-u-wirtschaftswachstum"> <img src={{asset "images/de/sm-sdg-8.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-9-industrie-innovation-infrastruktur"> <img src={{asset "images/de/sm-sdg-9.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-10-weniger-ungleichheiten"> <img src={{asset "images/de/sm-sdg-10.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-11-nachhaltige-staedte-u-gemeinden"> <img src={{asset "images/de/sm-sdg-11.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-12-nachhaltiger-konsum-u-produktion"> <img src={{asset "images/de/sm-sdg-12.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-13-massnahmen-zum-klimaschutz"> <img src={{asset "images/de/sm-sdg-13.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-14-leben-unter-wasser"> <img src={{asset "images/de/sm-sdg-14.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-15-leben-an-land"> <img src={{asset "images/de/sm-sdg-15.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-16-fireden-gerechtigekeit-starke-institutionen"> <img src={{asset "images/de/sm-sdg-16.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
            <div class="ribbon-column"><a href="/nachhaltigkeitsziele/ziel-17-partnerschaften-zur-erreichung-der-ziele"> <img src={{asset "images/de/sm-sdg-17.jpg"}}/><div class="middle"><center>{{t "Know More"}} →</center></div> </a></div>
        {{/if}}
    </div>
</div>
