<header class="header transparent">
    {{#if @site.logo}}
        <a class="logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
    {{else}}
        <a class="logo" href="{{@site.url}}">{{@site.title}}</a>
    {{/if}}
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    {{#if en}}
        {{> "en-site-nav"}}
    {{else}}
        {{> "site-nav"}}
    {{/if}}
</header>