<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{!-- Base Meta --}}
    <title>{{meta_title}}{{block "custom_title"}}</title>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}"/>
    {{{block "extraheads"}}}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <!-- Cookie Consent by https://www.PrivacyPolicies.com -->
    <script type="text/javascript" src="//www.privacypolicies.com/public/cookie-consent/3.0.0/cookie-consent.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"de","website_name":"17goalsmagazin","cookies_policy_url":"https://www.17goalsmagazin.de/cookie-policy-de/","change_preferences_selector":"#changeCookiePref"});
        });


    </script>

    <!-- Google Analytics -->
    <script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=UA-145569840-1">
    </script>
    <!-- end of Google Analytics-->

    <!-- GA -->

    <script type="text/plain" cookie-consent="tracking">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145569840-1');

    </script>
    <!-- end of GA-->
    <!-- End Cookie Consent -->


    <!-- End Cookie Consent by https://www.CookieConsent.com -->
    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

<div class="site-wrapper">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}


    {{!-- Ribbon --}}
    <section>
        <center class="ribbon-head">{{t "ribbon head"}}</center>
        {{> "ribbon"}}
        <center class="ribbon-caption">{{t "ribbon caption"}}</center>
    </section>

    {{!-- The footer at the very bottom of the screen --}}
    {{> "footer"}}

</div>

{{!-- The big email subscribe modal content --}}
{{#if @labs.members}}
    <div class="subscribe-success-message">
        <a class="subscribe-close" href="javascript:;"></a>
        You've successfully subscribed to {{@site.title}}!
    </div>

    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-close-overlay" href="#"></a>
        <a class="subscribe-close-button" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}"/>
            {{/if}}
            <div class="subscribe-form">
                <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
                <p class="subscribe-overlay-description">Stay up to date! Get all the latest & greatest posts delivered
                    straight to your inbox</p>
                <form data-members-form="subscribe">
                    <div class="form-group">
                        <input class="subscribe-email" data-members-email placeholder="youremail@example.com"
                               autocomplete="false"/>
                        <button class="button primary" type="submit">
                            <span class="button-content">Subscribe</span>
                            <span class="button-loader">{{> "icons/loader"}}</span>
                        </button>
                    </div>
                    <div class="message-success">
                        <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                    </div>
                    <div class="message-error">
                        Please enter a valid email address!
                    </div>
                </form>
            </div>
        </div>
    </div>

{{/if}}

{{!-- jQuery, required for fitvids --}}
<script src="{{asset "js/lib/jquery-3.5.0.min.js"}}"></script>
{{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
<script src="{{asset "built/casper.js"}}"></script>



{{!-- Scripts for Members subscription --}}
<script>
// Parse the URL parameter
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

// Give the parameter a variable name
var action = getParameterByName('action');
$(document).ready(function() {
    const postCards = document.getElementsByClassName('post-card');
    for (i = 1; i <= postCards.length; i++) {
            if (i % 6 == 0) {
                postCards[i-1].classList.add('post-card-large')
            }
        }
    if (postCards.length % 6==4 || postCards.length % 6==1) {
        postCards[postCards.length-1].classList.add('post-card-large')
    }

    const page_url=window.location.href;
    const menu_list=document.querySelectorAll('.header li');
    if(page_url.includes('/17ziele_17sdg')){
        menu_list[0].classList.add('active');
    }else if(page_url.includes('/alle-geschichten')){
        menu_list[1].classList.add('active');
    }else if(page_url.includes('/news-and-events')){
        menu_list[2].classList.add('active');
    }else if(page_url.includes('/kurz-and-gut')){
        menu_list[3].classList.add('active');
    }else if(page_url.includes('/uber-uns')||page_url.includes('/unser-team')){
        menu_list[4].classList.add('active');
    }
});

</script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
    window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"a967b0fd82e5f4dacb7365b92","lid":"13e86d77f6","uniqueMethods":true}) })

</script>
{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
{{{block "scripts"}}}
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
<script>

    var map = new ol.Map({
        target: 'mapdiv',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([13.3393693,52.4947440]),
          zoom: 19
        })
      });

    var marker = new ol.Feature({
      geometry: new ol.geom.Point(
        ol.proj.fromLonLat([13.3393693,52.4947440])
      ),
      name: 'seventeen Goals Magazin'
    });

    var iconStyle = new ol.style.Style({
      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
        src: '{{asset "images/marker.svg"}}'
      }))
    });
    marker.setStyle(iconStyle);
    var vectorSource = new ol.source.Vector({
      features: [marker]
    });

    var markerVectorLayer = new ol.layer.Vector({
      source: vectorSource,
    });
    map.addLayer(markerVectorLayer);


</script>
{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
