{{!-- Everything inside the #post tags pulls data from the post --}}
{{!< default-switch}}
{{#post}}
{{#has tag="english"}}
{{> site-header en="en"}}
<html lang="en">
{{else}}
<html lang="de">
{{> site-header}}
{{/has}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">

                <section class="post-full-tags">
                    {{#foreach tags}}
                        {{#has slug="wirtschaft"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="gesellschaft"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="okologie"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="soziales"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="digitale-transformation"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="economy"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="environment"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="social"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="society"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}
                        {{#has slug="digital-transformation"}}
                        <a class="pill" target="_self" href="{{url}}">{{name}}</a> &nbsp;
                        {{/has}}

                    {{/foreach}}
                </section>

                <h1 class="post-full-title">{{title}}</h1>

                {{#if custom_excerpt}}
                <p class="post-full-custom-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                <div class="post-full-byline">

                    <section class="post-full-byline-content">

                        <ul class="author-list">
                            {{#foreach authors}}
                            <li class="author-list-item">

                                <div class="author-card">
                                    {{#if profile_image}}
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}"
                                        alt="{{name}}" />
                                    {{else}}
                                    <div class="author-profile-image">{{> "icons/avatar"}}</div>
                                    {{/if}}
                                    <div class="author-info">
                                        {{#if bio}}
                                        <div class="bio">
                                            <h2>{{name}}</h2>
                                            <p>{{bio}}</p>
                                            {{#has tag="english"}}
                                            <p>
                                                <a target="_self" href="{{url}}">More Posts</a> by {{name}}
                                                .
                                            </p>
                                            {{else}}
                                            <p>
                                                <a target="_self" href="{{url}}">{{t "More posts"}}</a> {{t "By"}}
                                                {{name}}
                                                .
                                            </p>
                                            {{/has}}
                                        </div>
                                        {{else}}
                                        <h2>{{name}}</h2>
                                        {{#has tag="english"}}
                                        <p>Read
                                            <a target="_self" href="{{url}}">More Posts</a> by this author.
                                        </p>
                                        {{else}}
                                        <p>
                                            <a target="_self" href="{{url}}">{{t "More posts"}}</a> {{t "By"}}
                                            {{t "This Author"}}
                                            .</p>
                                        {{/has}}
                                        {{/if}}
                                    </div>
                                </div>

                                {{#if profile_image}}
                                <a href="{{url}}" class="author-avatar">
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}"
                                        alt="{{name}}" />
                                </a>
                                {{else}}
                                <a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
                                {{/if}}

                            </li>
                            {{/foreach}}
                        </ul>

                        <section class="post-full-byline-meta">
                            <h4 class="author-name">{{authors}}</h4>
                            <div class="byline-meta-content">
                                <time class="byline-meta-date"
                                    datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span>
                                    {{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>
                            </div>
                        </section>

                    </section>
                    {{#has tag="english"}}
                    {{> "showtags"  en="en"}}
                    {{else}}
                    {{> "showtags"}}
                    {{/has}}
                </div>
            </header>

            {{#if feature_image}}
            <figure class="post-full-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px" src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
            </figure>
            {{/if}}

            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>
            </section>



            {{!-- <section class="post-full-comments">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = "{{url absolute="true"}}";
                            this.page.identifier = "ghost-{{comment_id}}"
                        };
                        (function() {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://seventeengoals.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </section> --}}


        </article>

    </div>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#has tag="english"}}
            {{#if primary_tag}}
            {{#get "posts" filter="tag:english+tag:{{primary_tag.slug}}+tags.id:-{{id}}" limit="3" as |related_posts|}}
            {{#if related_posts}}
            <article class="read-next-card">
                <header class="read-next-card-header">
                    {{#../primary_tag}}
                    <h3><span>More In</span> <a target="_self" href="{{url}}">{{name}}</a></h3>
                    {{/../primary_tag}}
                </header>
                <div class="read-next-card-content">
                    <ul>
                        {{#foreach related_posts}}
                        <li>
                            <h4><a target="_self" href="{{url}}">{{title}}</a></h4>
                            <div class="read-next-card-meta">
                                <p>
                                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="L"}}</time>
                                    –
                                    {{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}
                                </p>
                            </div>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
                <footer class="read-next-card-footer">
                    <a target="_self"
                        href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}}
                        →</a>
                </footer>
            </article>
            {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
            {{> "post-card" en="en"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
            {{> "post-card" en="en"}}
            {{/prev_post}}
            {{else}}
            {{#if primary_tag}}
            {{#get "posts" filter="tag:german+tag:{{primary_tag.slug}}+tags.id:-{{id}}" limit="3" as |related_posts|}}
            {{#if related_posts}}
            <article class="read-next-card">
                <header class="read-next-card-header">
                    {{#../primary_tag}}
                    <h3><span>{{t "More In"}}</span> <a target="_self" href="{{url}}">{{name}}</a></h3>
                    {{/../primary_tag}}
                </header>
                <div class="read-next-card-content">
                    <ul>
                        {{#foreach related_posts}}
                        <li>
                            <h4><a target="_self" href="{{url}}">{{title}}</a></h4>
                            <div class="read-next-card-meta">
                                <p>
                                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                                    –
                                    {{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}
                                </p>
                            </div>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
                <footer class="read-next-card-footer">
                    <a target="_self"
                        href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty=(t "No posts") singular=(t "% posts") plural=(t "See all % posts")}}
                        →</a>
                </footer>
            </article>
            {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
            {{> "post-card"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
            {{> "post-card"}}
            {{/prev_post}}
            {{/has}}

        </div>
    </div>
</aside>

{{!-- Ribbon --}}
{{#has tag="english"}}
<section>
    <center class="ribbon-head">Let's make the goals better known: </center>
    {{> "ribbon" en="en"}}
    <center class="ribbon-caption">Click through and discover stories about each of the 17 Sustainability Goals</center>
</section>
{{> "footer-en"}}
{{else}}
<section>
    <center class="ribbon-head">{{t "ribbon head"}}</center>
    {{> "ribbon"}}
    <center class="ribbon-caption">{{t "ribbon caption"}}</center>
</section>
{{!-- The footer at the very bottom of the screen --}}
{{> "footer"}}
{{/has}}
{{/post}}



{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end

        // Hover on avatar
        var hoverTimeout;
        $('.author-list-item').hover(function () {
            var $this = $(this);

            clearTimeout(hoverTimeout);

            $('.author-card').removeClass('hovered');
            $(this).children('.author-card').addClass('hovered');

        }, function () {
            var $this = $(this);

            hoverTimeout = setTimeout(function () {
                $this.children('.author-card').removeClass('hovered');
            }, 800);
        });
    });
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f4cc4e1a4030b10"
    cookie-consent="tracking"></script>
{{/contentFor}}