{{!< default-en}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#contentFor "custom_title"}}
    - About Us
{{/contentFor}}
{{#contentFor "extraheads"}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/team.css"}}"/>
{{/contentFor}}


{{> "site-header" en="en"}}

{{!-- The main content area --}}

<section class="whitespace"></section>

<main id="site-main" class="site-main">

    <section class="outer">
        <h1 class="post-full-title">About Us</h1>
        <hr/>
        <div class="intro-text inner">It was a historic moment when, in September 2015, the international community
            agreed on 17 goals for sustainable development. Since we heard of them, we have been excited about the
            Sustainable Development Goals (SDGs).
            But instead of writing about the things that went wrong in the world, we wanted to tell the positive
            stories. The idea of a magazine was born! <strong>seventeen goals Magazin</strong> tells inspiring stories of change and motivates
            people to take action.

            The magazine is published online and also in printed editions. As such it is a supplement of ZEIT,
            TAGESSPIEGEL and Handelsblatt. In case you have missed it, you will find a digital browser through the
            magazines on on our homepage. And for even more good news, you are welcome to subscribe to our newsletter
            published 4 times a year.
            Get to know our team members who - together with many freelance journalists - make our magazine possible.
        </div>

    </section>

    <div class="posts">
        <div class="t-container" id="team">
            <div class="team-container">
                <div class="t-header">
                    <h2 class="t-header-title">Our Team</h2>
                </div>
                <div class="person-list">
                    <div class="person">
                        <img class="person-img" src="{{asset "images/team/andreas-kruk.jpg"}}">
                        <div class="person-details">
                            <h2 class="person-title">Andreas Kruk
                                <a target="_blank" href="https://www.linkedin.com/in/andreas-kruk-53070761/" class="linkedin">
                                    <svg width="32" height="32" role="img" aria-label="linkedin-icon">
                                        <use xlink:href="#linkedin"></use>
                                    </svg>
                                </a></h2>
                            <p class="person-desc">Publisher seventeen goals Magazin</p>
                            <blockquote>"Things that are not imaginable today can become mainstream, taken for granted.
                                By strengthening the sustainability goals, we contribute to that"
                            </blockquote>
                        </div>
                    </div>

                    <div class="person">
                        <img class="person-img" src="{{asset "images/team/iris-rodriguez.jpg"}}">
                        <div class="person-details">
                            <h2 class="person-title">Iris Rodriguez
                                <a target="_blank" href="https://www.linkedin.com/in/iris-rodriguez-8aba54149/" class="linkedin">
                                    <svg width="32" height="32" role="img" aria-label="linkedin-icon">
                                        <use xlink:href="#linkedin"></use>
                                    </svg>
                                </a></h2>
                            <p class="person-desc">Publisher / editor-in-chief</p>
                            <blockquote>"Seeing in my every-day-work of research and editorial work how many good news there are to tell is inspiring. It's exactly these positive stories of change that I want to draw attention to."
                            </blockquote>
                        </div>
                    </div>
                    <div class="person">
                        <img class="person-img" src="{{asset "images/team/sayanti-sengupta.jpg"}}">
                        <div class="person-details">
                            <h2 class="person-title">Sayanti Sengupta
                                <a target="_blank" href="https://www.linkedin.com/in/sayanti-sengupta-8b47a0100/" class="linkedin">
                                    <svg width="32" height="32" role="img" aria-label="linkedin-icon">
                                        <use xlink:href="#linkedin"></use>
                                    </svg>
                                </a></h2>
                            <p class="person-desc">Editor, seventeen goals Magazin</p>
                            <blockquote>"Superheroes are all around us, walking around without capes, yet touching our lives and making the world a better place. I want to find them and tell their stories!"
                            </blockquote>
                        </div>
                    </div>
                    <div class="person">
                        <img class="person-img" src="{{asset "images/team/anke-thiele.jpg"}}">
                        <div class="person-details">
                            <h2 class="person-title">Anke Thiele
                                <a target="_blank" href="https://www.linkedin.com/in/anke-thiele-1749708a/" class="linkedin">
                                    <svg width="32" height="32" role="img" aria-label="linkedin-icon">
                                        <use xlink:href="#linkedin"></use>
                                    </svg>
                                </a></h2>
                            <p class="person-desc">Art Direction seventeen goals Magazin (digital/local)</p>
                            <blockquote>"Sustainable action is the future and solves many of our problems. I really enjoy being part of the solution and making my contribution to more sustainability."
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</main>



{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    <script>
    $(document).ready(function () {
            var url=window.location.href,
            title=document.querySelector('title').innerHTML;



            var nav = document.querySelector('.header');
            nav.classList.remove('transparent');

            var feed = document.querySelector('#team'),
            lastScrollY = window.scrollY,
            lastWindowHeight = window.innerHeight,
            lastDocumentHeight = $(document).height(),
            ticking = false;

            function onScroll() {
                lastScrollY = window.scrollY;
                requestTick();
            }

            function onResize() {
                lastWindowHeight = window.innerHeight;
                lastDocumentHeight = $(document).height();
                requestTick();
            }

            function requestTick() {
                if (!ticking) {
                    requestAnimationFrame(update);
                }
                ticking = true;
            }

            function update() {
                var trigger = feed.getBoundingClientRect().top + window.scrollY;
                var progressMax = lastDocumentHeight - lastWindowHeight;

                if (lastScrollY >= trigger - 10) {
                    window.history.pushState('', 'Our Team', '/en/our-team/');
                } else {
                    window.history.pushState('', 'About Us', '/en/about-us/');
                }


                ticking = false;
            }

            window.addEventListener('scroll', onScroll, {
                passive: true
            });
            window.addEventListener('resize', onResize, false);

            update();



    });



    </script>
{{/contentFor}}


















